@using Microsoft.AspNetCore.Identity
@model IndexModel
@inject DobuMartial_project.Data.ApplicationDbContext _context


<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>dobu martial arts</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Features-Cards-icons.css">
    <link rel="stylesheet" href="assets/css/Pricing-Centered-badges.css">
</head>

<body>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6">
                <div class="m-xl-5 p-xl-5"><img class="img-fluid object-fit-cover rounded w-100" alt="a man holding his hands together" style="min-height: 300px;" src="assets/img/photo-1656653121526-a1458317b790.jpg"></div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-center">
                <div style="max-width: 350px;">
                    <h2 class="text-uppercase fw-bold">Dobu martial arts</h2>
                    <p class="my-3">Welcome to our Gym. Here we train in multiple martial arts and self defence.</p><a class="btn btn-primary btn-lg me-2" role="button" href="#prices">Prices</a><a class="btn btn-outline-primary btn-lg" role="button" href="/Home/Timetable">Timetable</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Why DoBu Martial arts?</h2>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center align-items-center">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center mb-3 d-inline-block bs-icon"><i class="icon ion-man"></i></div>
                        <h4 class="card-title">Multiple Martial Arts</h4>
                        <p class="card-text">Here at DoBu Martial arts we teach: Karate, Judo, Jiu-jitsu and Muay Thai&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center mb-3 d-inline-block bs-icon">
                            <svg class="bi bi-hand-thumbs-up-fill" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"></path>
                            </svg>
                        </div>
                        <h4 class="card-title">Expertise Staff</h4>
                        <p class="card-text">All of our staff are heavily trained professionals, meaning you get the best training possible.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center mb-3 d-inline-block bs-icon">
                            <svg class="bi bi-flag" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21 21 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21 21 0 0 0 14 7.655V1.222z"></path>
                            </svg>
                        </div>
                        <h4 class="card-title">Multiple facilities</h4>
                        <p class="card-text">We have: a large martial arts area, a fully equipped gym, a sauna, a steam room, a changing room and shower facilities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5">
        <h1 id="prices" class="text-center">Pricing</h1>
        <div class="row gx-2 gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center align-items-center" style="border-style: none;">
            @foreach (var m in Model.Memberships)
            {
                <form asp-action="Subscribe" asp-controller="Home" method="post"> 
                    <div class="col col-lg-3" style="width: 240px;height: 294px;display: block;position: relative;">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column justify-content-between p-4">
                                <div>
                                    <h6 class="text-uppercase text-muted">@m.Name</h6>
                                    <h4 class="display-6 fw-bold">£@m.Price.ToString()</h4>
                                    <hr>
                                    <ul class="list-unstyled">
                                        <li class="d-flex mb-2">
                                            <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon">
                                                <svg class="bi bi-check-lg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 18px;">
                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"></path>
                                                </svg>
                                            </span>  
                                            @if(@m.MartialArts < 100)
                                            {
                                                <span>@m.MartialArts.ToString() martial arts per week</span>
                                            }
                                            else
                                            {
                                                <span>Unlimited martial arts</span>
                                            }
                                        </li>
                                        <li class="d-flex mb-2">
                                            <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon">
                                                <svg class="bi bi-check-lg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 18px;">
                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"></path>
                                                </svg>
                                            </span>
                                            @(m.Sessions < 100? $"{m.Sessions.ToString()}sessions per week": "Unlimited sessions" )

                                        </li>
                                        <li class="d-flex mb-2"></li>
                                    </ul>
                                </div>
                                <input type="hidden" name="ChosenMembership" value="@m.Name" />
                                <input type="hidden" name="User" value="@User" />
                                @{
                                    bool Selected = (Model.CurrentMembership.Name == m.Name);
                                }
                                <button class="btn btn-@(Selected ? "success" : "primary") d-block w-100" type="submit">@(Selected? "Selected" : "Select")</button>
    
    
                            </div>
                        </div>
                    </div>
                </form>
            }
    </div>
    <div class="container py-4 py-xl-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Instructors</h2>
            </div>
        </div>
        <div class="row gy-4 row-cols-2 row-cols-md-4">
            @foreach (var ins in Model.Instructors)
            {
                <div class=col>
                    <div class="card-body text-center d-flex flex-column align-items-center p-0">
                        <img class="object-fit-cover rounded-circle mb-3" alt="man in white dress shirt" width="130" height="130" src="/@ins.Image">
                        <h5 class="fw-bold text-primary mb-0 card-title">@ins.Name</h5>
                        <p class="text-muted mb-2 card-text">@ins.Description</p>

                    </div>
                </div>
            }

        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>